/* Corgi Colors */

.st0{fill:red;}
.st1{fill:#FBFEFF;}
.st2{fill:#2D3339;}
.st3{fill:#EAAA7F;}
.st4{fill:beige;}
.st5{fill:#FBFEFF;}
.st6{fill:#2D3339;}
.st7{fill:#F4C6A6;}
.st8{fill:#684f04;}
.st9{fill:#FBFEFF;}
.st10{fill:#2D3339;}
.st11{fill:#BA8058;}
.st12{fill:tan;}
.st13{fill:black;}
.st14{fill:tan;}
.st15{fill:gray;}

/* Logo Colors */
.st20{fill:#BA8058;}
.st21{fill:#EAAA7F;}
.st22{fill:#F4C6A6;}

/* Menu Icon Colors */
.st23{fill:#39ADD1;}
.st24{fill:#39ADD1;}
.st25{fill:#39ADD1;}
